@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?13226e0d30864779be34be4399580923") format("truetype"),
url("./flaticon.woff?13226e0d30864779be34be4399580923") format("woff"),
url("./flaticon.woff2?13226e0d30864779be34be4399580923") format("woff2"),
url("./flaticon.eot?13226e0d30864779be34be4399580923#iefix") format("embedded-opentype"),
url("./flaticon.svg?13226e0d30864779be34be4399580923#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-instagram:before {
    content: "\f101";
}
.flaticon-linkedin:before {
    content: "\f102";
}
.flaticon-behance:before {
    content: "\f103";
}
.flaticon-github:before {
    content: "\f104";
}
.flaticon-email:before {
    content: "\f105";
}
.flaticon-up:before {
    content: "\f106";
}
.flaticon-full-screen:before {
    content: "\f107";
}
