$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?13226e0d30864779be34be4399580923") format("truetype"),
url("./flaticon.woff?13226e0d30864779be34be4399580923") format("woff"),
url("./flaticon.woff2?13226e0d30864779be34be4399580923") format("woff2"),
url("./flaticon.eot?13226e0d30864779be34be4399580923#iefix") format("embedded-opentype"),
url("./flaticon.svg?13226e0d30864779be34be4399580923#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "instagram": "\f101",
    "linkedin": "\f102",
    "behance": "\f103",
    "github": "\f104",
    "email": "\f105",
    "up": "\f106",
    "full-screen": "\f107",
);

.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-behance:before {
    content: map-get($flaticon-map, "behance");
}
.flaticon-github:before {
    content: map-get($flaticon-map, "github");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-up:before {
    content: map-get($flaticon-map, "up");
}
.flaticon-full-screen:before {
    content: map-get($flaticon-map, "full-screen");
}
